{% extends 'base.html' %}

{% block body %}

      <!-- About Section -->
      <div id="about" class="our-services section py-4">
        <h3 class="section-title text-center my-5">About Me</h3>
        <!-- Features -->
        <div class="features py-4 mb-4">
          <div class="container">
            <div class="row">
              <div class="feature py-4 col-md-6 d-flex">
                <div class="icon text-primary mr-3"><i class="fa fa-paint-brush"></i></div>
                <div class="px-4">
                    <h5>Design &amp; Branding</h5>
                    <p>Quisque mollis mi ac aliquet accumsan. Sed sed dapibus libero. Nullam luctus purus duis sensibus signiferumque.</p>
                </div>
              </div>
              <div class="feature py-4 col-md-6 d-flex">
                <div class="icon text-primary mr-3"><i class="fa fa-code"></i></div>
                <div class="px-4">
                    <h5>Programming</h5>
                    <p>Quisque mollis mi ac aliquet accumsan. Sed sed dapibus libero. Nullam luctus purus duis sensibus signiferumque.</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="feature py-4 col-md-6 d-flex">
                <div class="icon text-primary mr-3"><i class="fa fa-font"></i></div>
                <div class="px-4">
                    <h5>Copywriting</h5>
                    <p>Quisque mollis mi ac aliquet accumsan. Sed sed dapibus libero. Nullam luctus purus duis sensibus signiferumque.</p>
                </div>
              </div>
                
              <div class="feature py-4 col-md-6 d-flex">
                <div class="icon text-primary mr-3"><i class="fa fa-support"></i></div>
                <div class="px-4">
                    <h5>Training &amp; Support</h5>
                    <p>Quisque mollis mi ac aliquet accumsan. Sed sed dapibus libero. Nullam luctus purus duis sensibus signiferumque.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- / Features -->
      </div>
      <!-- / About Section -->

      <!-- My Projects Section -->
      <div class="blog section section-invert py-4" id="projects">
        <h3 class="section-title text-center m-5">Projects</h3>
        <div class="container">
          <div class="py-4">
            <div class="row">
              <div class="card-deck">
                  
                  
            {% if project_list %}

            {% for project in project_list %}
              <div class="col-md-12 col-lg-4">
                <div class="card mb-4">
                  <img class="card-img-top" src="static/images/common/{{project.card_image}}" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">{{project.name}}</h4>
                    <p class="card-text">{{project.descr|slice:"0:300" }}
                    {% if project.descr|length > 300 %}.....{% endif %}
                    </p>
                    <a class="btn btn-primary btn-pill" href="#">Read More &rarr;</a>
                  </div>
                </div>
              </div>
            
            {% endfor %}

          {% else %}
                <div class="col-md-12 col-lg-4">
                <div class="card mb-4">
                  <img class="card-img-top" src="static/images/common/portfolio-card-default.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">No Projects</h4>
                    <p class="card-text">Unfortunately, there are no projects to display at this time. </p>
                    
                    </div>
                </div>
              </div>
            
            {% endif %}
                  
                  
                  
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- / My Projects Section -->


    <!-- My  Skills Section -->
      <div class="blog section  py-4" id="skills">
        <h3 class="section-title text-center m-5">Skills</h3>

        <div class="container py-4">
              
            <div class="card text-center">
                <div class="card-header">

                      <ul class="nav nav-tabs card-header-tabs" role="tablist">

                          {% for skillgroup in skillgroup_list %}
                            <li class="nav-item">
                                <a class="nav-item nav-link {% if forloop.first %}  active {% endif %}" id="nav-{{skillgroup.name}}-tab" data-toggle="tab" href="#nav-{{skillgroup.name}}" role="tab" aria-controls="nav-{{skillgroup.name}}" aria-selected="true">{{skillgroup.name}}</a>
                            </li>
                          {% endfor %}

                        </ul>
                </div>

                <div class="card-body">

                      <div class="tab-content" id="nav-tabContent">
                          
                        {% for skillgroup in skillgroup_list %}

                        <div class="tab-pane fade {% if forloop.first %} show active {% endif %}" id="nav-{{skillgroup.name}}" role="tabpanel" aria-labelledby="nav-{{skillgroup.name}}-tab">
                          <div id="progress-bars" class="container text-left">                                          
                              <div class="badge badge-outline-light">Skill levels for skillgroup {{ skillgroup.name}}</div>
                                {% for skill in skillgroup.skill_set.all %}
                                  {% widthratio skill.skill_level 1 10 as skill_level %}

                                  <div class="progress-wrapper ">
                                    <span class="progress-label">{{skill.name}}</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="{{skill_level}}" aria-valuemin="0" aria-valuemax="100" style="width: {{skill_level}}%;">
                                          <span class="progress-value">{{skill_level}}</span>
                                        </div>
                                    </div>
                                  </div>
                                {% endfor %}
                                <p></p>
                          </div> 
                        </div>

                        {% endfor %}
 
                      </div>                    
                </div>         
            </div>
        </div>   
      </div>
      <!-- / My Skills Section -->


      <!-- Education Section -->
      <div class=" section-invert py-4"  id="education">
          <h3 class="section-title text-center m-5">Education</h3>
          <div class="container py-4">
            
            
              <!-- TIMELINE -->
              <div class="container">
                  <div class="page-header">
                      <h1 id="timeline">Timeline</h1>
                  </div>
                  <ul class="timeline">
                      <li>





                        <div class="timeline-badge info"><small><small>2019</small></small></div>
                        <div class="timeline-panel">
                          <div class="timeline-heading">
                            <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                          </div>
                          <div class="timeline-body">
                            <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                          </div>
                        </div>
                      </li>
                      <li class="timeline-inverted">
                        <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
                        <div class="timeline-panel">
                          <div class="timeline-heading">
                            <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                          </div>
                          <div class="timeline-body">
                            <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                            <p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis, vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere ut mi. Ut scelerisque neque et turpis posuere pulvinar pellentesque nibh ullamcorper. Pharetra in mattis molestie, volutpat elementum justo. Aenean ut ante turpis. Pellentesque laoreet mé vel lectus scelerisque interdum cursus velit auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mauris lectus, non scelerisque augue. Aenean justo massa.</p>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
                        <div class="timeline-panel">
                          <div class="timeline-heading">
                            <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                          </div>
                          <div class="timeline-body">
                            <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                          </div>
                        </div>
                      </li>
                      <li class="timeline-inverted">
                        <div class="timeline-panel">
                          <div class="timeline-heading">
                            <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                          </div>
                          <div class="timeline-body">
                            <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
                        <div class="timeline-panel">
                          <div class="timeline-heading">
                            <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                          </div>
                          <div class="timeline-body">
                            <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                            <hr>
                            <div class="btn-group">
                              <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="timeline-panel">
                          <div class="timeline-heading">
                            <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                          </div>
                          <div class="timeline-body">
                            <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                          </div>
                        </div>
                      </li>
                      <li class="timeline-inverted">
                        <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
                        <div class="timeline-panel">
                          <div class="timeline-heading">
                            <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                          </div>
                          <div class="timeline-body">
                            <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                          </div>
                        </div>
                      </li>
                  </ul>
              </div>



              <!-- / TIMELINE -->



          </div>
      </div>
      <!-- / Education Section -->
        
        
      <!-- Testimonials Section 
      <div class="testimonials section py-4"  id="testimonials">
          <h3 class="section-title text-center m-5">Testimonials</h3>
          <div class="container py-5">
            <div class="row">
                <div class="col-md-4 testimonial text-center">
                    <div class="avatar rounded-circle with-shadows mb-3 ml-auto mr-auto">
                        <img src="static/images/common/avatar-1.jpeg" class="w-100" alt="Testimonial Avatar" />
                    </div>
                    <h5 class="mb-1">Osbourne Tranter</h5>
                    <span class="text-muted d-block mb-2">CEO at Megacorp</span>
                    <p>Vivamus quis ex mattis, gravida erat a, iaculis urna. Proin ac eleifend tortor. Nunc in augue eget enim venenatis viverra.</p>
                </div>

                <div class="col-md-4 testimonial text-center">
                    <div class="avatar rounded-circle with-shadows mb-3 ml-auto mr-auto">
                        <img src="static/images/common/avatar-2.jpeg" class="w-100" alt="Testimonial Avatar" />
                    </div>
                    <h5 class="mb-1">Darrin Ollie</h5>
                    <span class="text-muted d-block mb-2">CEO at Megacorp</span>
                    <p>Nullam eu ligula facilisis, commodo velit non, vulputate dolor. Aenean congue euismod vestibulum.</p>
                </div>

                <div class="col-md-4 testimonial text-center">
                    <div class="avatar rounded-circle with-shadows mb-3 ml-auto mr-auto">
                        <img src="static/images/common/avatar-3.jpeg" class="w-100" alt="Testimonial Avatar" />
                    </div>
                    <h5 class="mb-1">Quinton Bruce</h5>
                    <span class="text-muted d-block mb-2">CEO at Megacorp</span>
                    <p> Aenean imperdiet ultrices tortor id convallis. Donec id metus magna. Morbi pretium odio faucibus blandit gravida.</p>
                </div>
            </div>
          </div>
      </div>
      -->
      <!-- / Testimonials Section -->

      <!-- Contact Section -->
      <div class="contact section-invert py-4"  id="contact">
        <h3 class="section-title text-center m-5">Contact Me</h3>
        <div class="container py-4">
          <div class="row justify-content-md-center px-4">
            <div class="contact-form col-sm-12 col-md-10 col-lg-7 p-4 mb-4 card">
              <form>
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                      <label for="contactFormFullName">Full Name</label>
                      <input type="email" class="form-control" id="contactFormFullName" placeholder="Enter your full name">
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                      <label for="contactFormEmail">Email address</label>
                      <input type="email" class="form-control" id="contactFormEmail" placeholder="Enter your email address">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                        <label for="exampleInputMessage1">Message</label>
                        <textarea id="exampleInputMessage1" class="form-control mb-4" rows="10" placeholder="Enter your message..." name="message"></textarea>
                    </div>
                  </div>
                </div>
                <input class="btn btn-primary btn-pill d-flex ml-auto mr-auto" type="submit" value="Send Your Message">
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- / Contact Section -->

 
      <!-- Download Section -->
      <div class="contact section py-4"  id="download">
        <h3 class="section-title text-center m-5">Download CV</h3>
        <div class="container py-4">
          <div class="row justify-content-md-center px-4">
            <a class="d-table ml-auto mr-auto mt-4" href="/static/documents/CV.pdf">
                <button class="btn btn-outline-primary btn-pill">Download CV</button></a>
            </div>
          </div>
      </div>

      <!-- / Download Section -->

   
{% endblock %}